Compilers/Debug/Compilers.Build.CppClean.log
Compilers/P2Scripts/__pycache__/MassageGrammar.cpython-34.pyc
*.pyc
*.tlog
*.log
Compilers.v12.suo
*.obj
*.opensdf
*.idb
*.pdb
*.ilk
*.exe
*.sdf
Compilers.sdf
*.sdf
Compilers.sdf
*.vcxproj
Compilers/output/DecTree.txt
Compilers/output/Scope.txt
Compilers/output/Tree.txt
Compilers/PyScripts/P2/parser/Project3.cpp
Compilers/PyScripts/P2/parser/Project3.h